.background    { background: rgb(120, 157, 188);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(30, 70, 122); }
.wall          { background: rgb(201, 185, 145);   }

.actor  { position: absolute;  }
.coin   { background: rgb(241, 229, 89); }
.player { background-image: url(https://s20.postimg.org/xben0c3gd/seagull.png); }
.projectile { background-color: #000;
			  border-radius: 50px; }
.seashell { background-image: url(http://s3.amazonaws.com/pix.iemoji.com/lg33/0425.png); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
